:root {
  --color: rgb(8, 75, 8);
}

html {
  box-sizing: border-box;
  font-family: "Ubuntu";
  background-color: #eee;
  color: #333;
  margin: 15px;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header > p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: var(--color);
}

h1, h2, li {
  color: var(--color);
}

/* Works as a flex container */
header > nav > ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
}

header > nav > ul > li {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
  background-color: #ddd;
  border: 1px solid green;
}

h1 {
  font-size: 17px;
  text-align: center;
  margin-top: 50px;
}

.aside-one, .aside-two {
  display: none;
}
