body {
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
}
header, nav, section {
    border: 2px solid red;
}

img {
    width: 200px;
    float: right;
    margin-right: 20px;
}


.aparencia {
    display: inline-block;
}

.forca {
    clear: both;
}